{% load static %}

<div class="hiro-nav-popup-modal">
    <div class="hiro-nav-popup-modal-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 menu-wrapper">
                    <ul class="nav hiro-main-nav">
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">How it works</a>
                        </li>
                        <li class="nav-item">
                            <a href="#services" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="#works" class="nav-link">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 blog-posts text-white">
                    <h5 class="popup-blog-headng">Blog</h5>
                    <div class="media mb-4">
                        <img src="{% static '/main/assets/images/Blog_small2.jpg' %}" alt="blog" width="86px" class="img-fluid mr-4">
                        <div class="media-body align-self-end">
                            <h5 class="popup-blog-post-title">Ambitious <br> designs</h5>
                        </div>
                    </div>
                    <div class="media mb-4">
                        <img src="{% static '/main/assets/images/Blog_small1.jpg' %}" alt="blog" width="86px" class="img-fluid mr-4">
                        <div class="media-body align-self-end">
                            <h5 class="popup-blog-post-title">The Collection <br> Cover Archive</h5>
                        </div>
                    </div>
                    <p><a href="#" class="text-white link-hover-fx text-decoration-none" class="font-weight-medium">View more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>